<h1>Editing Employer</h1>

<%= render partial: "shared/notice_error", locals: {notice_errors: @employer.errors, notice_label: "employer"} %>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Editing Employer
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>