<h1>Editing Employer</h1>


<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Editing Employer
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>