
.navbar .nav > li > a {
	padding: 15px; 
}

body { padding-top: 40px; }

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

select {
	width: auto;
	display: inline;
	font-weight: normal; 
}

input {
	font-weight: normal; 
	height: auto; 
} 
table th {
	vertical-align: middle; 
}

.pagination {
	margin: 0px; 
	font-size: 14px; 
	float: right; 
}
.records_found {
	font-size: 15px; 
	float: left; 
}

.panel-heading {
	padding: 8px 5px 5px 5px; 
	overflow: hidden; 
}

.panel-body {
	padding-top: 5px;
	padding-bottom: 5px; 
}

.alert {
	padding: 10px; 
}

.datetimepicker {
	width: 140px; 
}

.between-datestimes {
	width: 205px; 
}